.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-photo {
  width: 125px; /* Ajusta el tamaño aquí */
  height: 125px; /* Asegúrate de que el alto y el ancho sean iguales */
  border-radius: 50%; /* Hace la imagen redonda */
  object-fit: cover; /* Asegura que la imagen se recorte correctamente */
  border: 2px solid #ccc; /* Opcional: agrega un borde alrededor de la imagen */
}

:host {
  ion-card-title {
    color: black; // Color por defecto en modo claro
  }
}
:host {
  ion-title {
    color: black; // Color por defecto en modo claro
  }
}

:host-context(.dark) {
  ion-card-title {
    color: white; // Color en modo oscuro
  }
}

:host-context(.dark) {
  ion-title {
    color: white; // Color en modo oscuro
  }
}

ion-toolbar {
  position: relative;
  overflow: hidden; // Evita que el texto se vea fuera del contenedor
}

.moving-text {
  position: absolute; // Permite que el texto se mueva libremente
  white-space: nowrap; // Evita que el texto se divida en varias líneas
  animation: slide 6s linear infinite; // Controla la duración y el tipo de animación
}

@keyframes slide {
  0% {
    transform: translateX(-100%); // Comienza fuera de la pantalla a la izquierda
  }
  100% {
    transform: translateX(100%); // Termina fuera de la pantalla a la derecha
  }

}
