.perfil-foto {
  width: 100px; /* Ajusta el tamaño según tus necesidades */
  height: 100px; /* Ajusta el tamaño según tus necesidades */
  border-radius: 50%; /* Hace que la imagen sea circular */
  object-fit: cover; /* Mantiene la proporción de la imagen */
}