<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="font-size-18">
      Sistema de Asistencia DUOC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" #page class="ion-padding-horizontal page">

  <ion-button *ngIf="!escaneando" (click)="comenzarEscaneoQR()"
    extand="full" shape="round">
  <ion-icon slot="start" name="videocam-outline"></ion-icon>
    Comenzar Escaneo QR
  </ion-button>

  <ion-button *ngIf="escaneando" (click)="detenerEscaneoQR()"
    extand="full" shape="round">
  <ion-icon slot="start" name="stop-circle-outline"></ion-icon>
    Detener Escaneo QR
  </ion-button>

  <video #video [hidden]="!escaneando" width="100%"></video>
  <canvas #canvas hidden></canvas>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Los datos del codigo QR son los siguentes
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2 *ngIf="!datosQR">
        Sin información
      </h2>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary" class="ion-padding-horizontal ion-padding-top ion-padding-bottom">

    <ion-button shape="round" (click)="navegar('/inicio')" color="tertiary">
      <ion-icon slot="start" name="home">
        Asistencia
      </ion-icon>
    </ion-button>

    <ion-button shape="round" (click)="navegar('/leerqr')" color="tertiary">
      <ion-icon slot="start" name="qr-code">
        Asistencia
      </ion-icon>
    </ion-button>

    <ion-button shape="round" (click)="navegar('/login')" color="tertiary">
      <ion-icon slot="start" name="log-out">
        Salir
      </ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-footer>