/* src/app/tabs/inicio/inicio.page.scss */

/* Estilos para el encabezado */
ion-header {
  --background: #3880ff; /* Color de fondo del encabezado */
  --color: #fff; /* Color del texto del encabezado */
}

ion-toolbar {
  --padding-start: 16px; /* Espaciado a la izquierda en el toolbar */
}

ion-title {
  font-size: 22px; /* Tamaño de fuente del título */
  color: #333032;
}

/* Estilos para el contenido */
ion-content {
  --background: #f4f5f8; /* Color de fondo del contenido */
  padding: 16px; /* Espaciado interno del contenido */
}

ion-card {
  border-radius: 12px; /* Esquinas redondeadas de la tarjeta */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra de la tarjeta */
  overflow: hidden; /* Evitar que el contenido se desborde */
  margin-top: 16px; /* Margen superior de la tarjeta */
}

/* Estilos para el encabezado de la tarjeta */
ion-card-header {
  background: #fff; /* Color de fondo del encabezado de la tarjeta */
  border-bottom: 1px solid #ddd; /* Borde inferior del encabezado */
  padding: 16px; /* Padding en el encabezado de la tarjeta */
}

/* Estilos para el título de la tarjeta */
ion-card-title {
  font-size: 24px; /* Tamaño de fuente del título */
  font-weight: bold; /* Negrita del título */
  color: #333; /* Color del texto del título */
  text-align: center; /* Alinear el texto al centro */
}

/* Estilos para el contenido de la tarjeta */
ion-card-content {
  padding: 16px; /* Padding en el contenido de la tarjeta */
  font-size: 16px; /* Tamaño de fuente del contenido */
  color: #666; /* Color del texto del contenido */
  text-align: center; /* Alinear el texto al centro */
}

ion-button {
  --background: transparent; /* Fondo transparente */
  --color: var(--ion-color-primary); /* Color del icono */
  --border-radius: 0px; /* Bordes redondeados */
  --padding: 0; /* Sin padding */
}

ion-icon {
  font-size: 24px; /* Tamaño del icono */
}

.profile-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.profile-photo {
  width: 250px; /* Aumentado el tamaño de la foto */
  height: 250px; /* Aumentado el tamaño de la foto */
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #f4f4f4;
}

.logout-button {
  --background: var(--ion-color-danger); /* Cambia el fondo a rojo, por ejemplo */
  --color: rgb(28, 28, 29); /* Cambia el color del icono a blanco */
  --border-radius: 50%; /* Cambia los bordes si lo deseas */
  width: 50px; /* Ajusta el tamaño del botón */
  height: 50px;
}

:host {
  ion-content {
    background-color: white; // Color de fondo por defecto en modo claro
  }
}

:host-context(.dark) {
  ion-content {
    background-color: black; // Color de fondo en modo oscuro
  }

  ion-title {
    color: white !important;  /* Aplica el color blanco */
  }
}

.dark-mode {
  background-color: black; // Color de fondo en modo oscuro;
}

ion-toolbar {
  position: relative;
  overflow: hidden; // Evita que el texto se vea fuera del contenedor
}

.moving-text {
  position: absolute; // Permite que el texto se mueva libremente
  white-space: nowrap; // Evita que el texto se divida en varias líneas
  animation: slide 6s linear infinite; // Controla la duración y el tipo de animación
}

@keyframes slide {
  0% {
    transform: translateX(-100%); // Comienza fuera de la pantalla a la izquierda
  }
  100% {
    transform: translateX(100%); // Termina fuera de la pantalla a la derecha
  }
}