<ion-header>
  <ion-toolbar>
    <ion-title color="dark">Inicio</ion-title>
    <ion-buttons slot="end">
      <ion-button class="logout-button" (click)="confirmLogout()"> 
        <ion-icon name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content> 
  <!-- Bienvenida con animación -->
  <ion-card>
    <ion-card-header>
      <ion-card-title [@fadeIn]="isVisible ? 'visible' : 'hidden'">
        <h1 *ngIf="usuario?.cuenta !== ''">
          ¡Bienvenido(a) {{ usuario?.nombre }} {{ usuario?.apellido }}!
        </h1>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="profile-container" [@fadeIn]="isVisible ? 'visible' : 'hidden'">
        <img *ngIf="usuario?.fotoUrl" [src]="usuario?.fotoUrl" alt="Foto de perfil" class="profile-photo"/>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Información adicional -->
  <ion-card>
    <ion-card-content>
      <h3>En caso de querer ver tu asistencia dirígete a Codigo QR</h3>
      <h3>Para cambiar a modo oscuro dirígete a Configuración</h3>
      <h1>𓆝 𓆟 𓆞 𓆝 𓆟</h1>
    </ion-card-content>
  </ion-card>
</ion-content>
