<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/login">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-segment value="inicio">
      <ion-segment-button value="inicio" (click)="navigateTo('inicio')">
        Inicio
      </ion-segment-button>
      <ion-segment-button value="leerQR" (click)="navigateTo('leerQR')">
        LeerQR
      </ion-segment-button>
      <ion-segment-button value="miCurso" (click)="navigateTo('miCurso')">
        Mi Curso
      </ion-segment-button>
    </ion-segment>

  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Contenido de la página -->
</ion-content>