ion-content {
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  height: 100%; /* Asegúrate de que ocupe toda la altura */
}

ion-card {
  text-align: left; /* Centra el texto dentro del ion-card */
}

table.datos-asignatura {
  margin: 0 auto; /* Centra la tabla horizontalmente */
  border-collapse: collapse; /* Elimina el espacio entre celdas */
}

table.datos-asignatura th,
table.datos-asignatura td {
  padding: 8px 12px; /* Espaciado en las celdas */
  border: 1px solid #ccc; /* Borde de las celdas */
}

table.datos-asignatura th {
  background-color: #f0f0f0; /* Fondo para los encabezados */
  font-weight: bold; /* Texto en negrita para los encabezados */
}

ion-toolbar {
  position: relative;
  overflow: hidden; // Evita que el texto se vea fuera del contenedor
}

.moving-text {
  position: absolute; // Permite que el texto se mueva libremente
  white-space: nowrap; // Evita que el texto se divida en varias líneas
  animation: slide 6s linear infinite; // Controla la duración y el tipo de animación
}

@keyframes slide {
  0% {
    transform: translateX(-100%); // Comienza fuera de la pantalla a la izquierda
  }
  100% {
    transform: translateX(100%); // Termina fuera de la pantalla a la derecha
  }
}