<ion-header>
  <ion-toolbar>
    <ion-title>Actualizar Información</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/mi-info"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="actualizarUsuario()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="usuario.nombre" name="nombre" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Apellido</ion-label>
        <ion-input [(ngModel)]="usuario.apellido" name="apellido" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input [(ngModel)]="usuario.correo" name="correo" type="email" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Fecha de Nacimiento</ion-label>
        <ion-datetime display-format="DD/MM/YYYY" [(ngModel)]="usuario.fechaNacimiento" name="fechaNacimiento"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nivel Educacional</ion-label>
        <ion-select [(ngModel)]="usuario.nivelEducacional" name="nivelEducacional">
          <ion-select-option *ngFor="let nivel of nivelesEducacionales" [value]="nivel">{{ nivel.getEducacion() }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Pregunta Secreta</ion-label>
        <ion-input [(ngModel)]="usuario.preguntaSecreta" name="preguntaSecreta" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Respuesta Secreta</ion-label>
        <ion-input [(ngModel)]="usuario.respuestaSecreta" name="respuestaSecreta" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Foto de Perfil (URL)</ion-label>
        <ion-input [(ngModel)]="usuario.fotoUrl" name="fotoUrl" placeholder="URL de la foto" required></ion-input>
      </ion-item>
    </ion-list>

    <ion-button expand="full" type="submit" color="primary">Guardar Cambios</ion-button>
  </form>
</ion-content>
