// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
// src/theme/variables.scss
:root {
  /* Cambiar el color primario a amarillo */
  --ion-color-primary: #FFC107; /* Amarillo */
  --ion-color-primary-rgb: 255, 193, 7;
  --ion-color-primary-contrast: #000; /* Color de contraste para el texto en botones o headers amarillos */
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #e6ac00;
  --ion-color-primary-tint: #ffd740;
}
  /* Otros colores claros */


.dark {
  --ion-background-color: #121212;
  --ion-background-color-rgb: 18, 18, 18;
  --ion-text-color: #ffffff;

  --ion-color-primary: #307FE2;
  --ion-color-primary-rgb: 187, 134, 252;
  --ion-color-primary-contrast: #121212;
  --ion-color-primary-contrast-rgb: 18, 18, 18;
  --ion-color-primary-shade: #8BB8E8;
  --ion-color-primary-tint: #c996f6;

  /* Otros colores oscuros */
  --ion-card-background: #1e1e1e; // Fondo de las tarjetas
  --ion-card-title-color: #ffffff; // Color de título de la tarjeta
  --ion-card-content-color: #e0e0e0; // Color de contenido de la tarjeta
}
