<ion-header class="ion-no-border mb-3">
  <ion-toolbar color="secondary">
    
    <ion-title class="text-center fs-2 mb-1">Sistema de asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-card-content>
  <ion-item>
    <ion-input [(ngModel)]="usuario.cuenta" label="Cuenta" labelPlacement="floating"
      placeholder="Ej: atorres"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="usuario.password" [type]="passwordType" label="Contraseña" labelPlacement="floating"
      placeholder="Ej: 1234">
    </ion-input>
    <ion-icon [name]="passwordIcon" slot="end" (click)="togglePasswordVisibility()"></ion-icon>
  </ion-item>

  <div class="ion-margin-top">
    <ion-button class="danger" shape="round" size="small" (click)="ingresar()">
      Ingresar
    </ion-button>
    <br><br>
    <a routerLink="">Crea tu cuenta gratis</a>
  </div>
</ion-card-content>
