<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <img src="../../../assets/img/Logo_DuocUC.svg.png" alt="Logo" class="header-image"/>
  </ion-toolbar>
</ion-header>

<ion-card-content>
  <ion-toolbar >
    <p class="texto"> Bienvenido a DUOC</p>
  </ion-toolbar>
</ion-card-content>

<ion-card-content>
  <ion-item>
    <ion-input [(ngModel)]="usuario.cuenta" label="Cuenta" labelPlacement="floating"
      placeholder="Ej: Chimuelo123"></ion-input>
  </ion-item>
  

  <ion-item>
    <ion-input [(ngModel)]="usuario.password" [type]="passwordType" label="Contraseña" labelPlacement="floating"
      placeholder="Ej: 1234">
    </ion-input>
    <ion-icon [name]="passwordIcon" slot="end" (click)="togglePasswordVisibility()"></ion-icon>
  </ion-item>

  <div class="ion-margin-top">
    <ion-button class="danger" shape="round" size="small" (click)="ingresar()">
      Ingresar
    </ion-button>
    <br><br>
    <a routerLink="/recuperar">Recuperar Contraseña</a>
  </div>
  </ion-card-content>